body {
  font-family: helvetica, arial, "sans serif";
  font-family: times, "times new roman", serif;
  font-size: 16px;
  background-color: #fff;
  color: #000;
}

label, input {
  vertical-align: middle;
}
label {
  display: block;
  float: left;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

a {
  color: #D24A31;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  margin: 0 0 0.3em 0;
  padding-bottom: 0;
}

h3.title {
  margin: 0 0 0 0;
  padding: 0 0 0.2em 0;
  line-height: 1.1em;
}

h3#related {
  display: none;
  margin: 0;
  padding: 0.3em 0;
  font-size: 14px;
  line-height: 1.4em;
  text-transform: uppercase;
  font-weight: normal;
  color: #222;
}
.alternate_content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline;
}
.alternate_content li {
  margin: 0;
  padding: 0 0 0.5em 0;
  line-height: 1.3em;
  list-style-type: none;
}
.more_from span {
  text-transform: uppercase;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  color: #000;
}

h1#logo {
  margin: 0;
  padding: 1.0em 0 0.5em 0;
  line-height: 1.0em;
  text-align: center;
}
h1#logo a {
  color: #20232A;
  text-decoration: none;
}

h2#tagline {
  margin: 0;
  padding: 0.75em 0;
  line-height: 1.0em;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  border-top: 1px solid #222;
}

h3#page_title {
  margin: 0;
  padding: 0.75em 0;
  line-height: 1.0em;
  text-align: center;
  font-style: italic;
  text-transform: lowercase;
  font-weight: normal;
  font-size: 14px;
  border-top: 1px solid #222;
}

#heading .container_12 {
  border-bottom: 3px solid #222; 
}




.grid_8 h3.title { }
.grid_3 h3 a, 
.grid_4 h3 a { }

p.excerpt, p.byline {
  margin: 0;
  padding: 0;
}

.author {
  text-transform: uppercase;
  font-weight: normal;
}

strong.byline, 
.alternate_content strong.byline {
  color: #D24A31;
}
strong.byline a,
.alternate_content strong.byline a {
  color: #D24A31;
}
.alternate_content .website a {
  color: #D24A31;
}
.alternate_content {
  font-weight: normal;
}

.faded {
  color: #ccc;
}

.highlight {
  background-color: #E7F6FF;
}

.meme_details {
  margin-top: 3.0em;
}
.meme_details .meme {
  margin: 1.0em 0;
}

.meme_details .generic h3 {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.meme_details th,
.meme_details td {
  line-height: 1.2em;
  padding: 1px 0;
}
.meme_details th {
  text-align: left;
}
.meme_details .alternate_content a {
  font-weight: normal;
}

.meme_details .item_image_block {
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  background-color: #efefef;
}
.meme_details .item_image_block a {
  display: block;
  height: 100%;
  width: 100%;
  border-top: 10px solid #2579d2;
  text-decoration: none;
}
.meme_details .item_image_block a:hover {
  background-color: transparent;
  border-top: 10px solid #ffcc00;
}
.meme_details .item_image_block a span {
  visibility: hidden;
}

#footer {
  margin-top: 1.5em;
}

#time_to_update {
  color: #D24A31;
}
#time_to_update a {
  color: #D24A31 !important;
  text-decoration: none;
}

#login #errorExplanation {
  border: 10px solid #D24A31;
  color: #D24A31;
  padding: 10px;
  margin-top: 10px;
}
#login {
  margin-top: 2.0em;
}
#login h3 {
  text-align: center;
  margin-bottom: 1.0em;
}
#login p {
  margin: 0;
  padding: 0.25em 0;
}
#openid_container .sleeve, 
#login_container .sleeve {
  padding: 10px;
  border: 10px solid #efefef;
  margin: 1.0em 0 3.0em 0;
}

#about {
  padding-top: 1.5em;
  font-size: 16px;
  line-height: 1.4em;
}
#about .grid_8 {}
#about .grid_4 {}

.trending {
  font-weight: bold;
}
.trend_up {
}
.trend_down {
}


li.article_favicon {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}
li.article_favicon a:hover {
  background-color: transparent;
}

.feed_favicon {
  vertical-align: middle;
  margin: 0;
  border: 1px solid #fff;
}
.feed_favicon:hover {
  vertical-align: middle;
  border: 1px solid #2579d2 !important;
}

.rank {
  font-size: 300%;
  color: #ddd;
  line-height: 1.0em;
}

#top_memes {
  background-color: #fff;
  padding: 1.5em 0;
}
#top_memes h3.title {
  font-weight: normal;
  font-size: 42px;
}
#top_memes p {
  font-size: 20px;
  line-height: 1.4em;
  margin: 0; 
  padding: 0 0 0.3em 0;
  color: #222;
}

.related_items {
  border-top: 1px dotted #ccc;
  margin-top: 0.3em;
  padding-top: 0.3em;
}
.related_items_title {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0.1em 0;
  vertical-align: middle;
  color: #333;
}
.all_related_items {
  margin: 0.5em 0 0 0; 
  padding: 0;
}

#second_memes, #fourth_memes {}
#second_memes .container_12 {
  padding: 1.5em 0;
  border-top: 1px solid #222;
}
#second_memes h3.title {
  font-weight: normal;
  font-size: 30px;
}
#second_memes p {
  font-size: 16px;
  line-height: 1.4em;
  color: #222;
}

#fourth_memes .container_12 {
  padding: 1.5em 0;
  border-bottom: 1px solid #222;
}
#fourth_memes h3.title {
  font-weight: normal;
  font-size: 22px;
}
#fourth_memes p {
  font-size: 16px;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
  color: #222;
}

#middle_memes {}
#middle_memes .container_12 {
  padding: 1.5em 0;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
}
#middle_memes h3.title {
  font-weight: normal;
  font-size: 22px;
}
#middle_memes p {
  font-size: 16px;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
  color: #222;
}
#bottom_memes {}
#bottom_memes .container_12 {
  padding: 1.5em 0;
  border-bottom: 1px solid #222;
}
#bottom_memes h2 {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}
#bottom_memes h3.title {
  font-weight: normal;
  font-size: 18px;
}
#bottom_memes ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#bottom_memes ul li,
.alternate_content li {
  margin-left: 26px !important;
  text-indent: -26px !important;
  list-style-type: none;
}
#bottom_memes .feed_favicon,
.alternate_content .feed_favicon {
  margin-right: 5px;
}
#bottom_memes p {
  font-size: 14px;
  color: #222;
}
#bottom_memes p#next_or_previous {
  font-size: 16px;
  line-height: 1.4em;
}
#bottom_memes td {
  font-size: 16px;
  line-height: 1.4em;
}

#without_columns {
  border-top: 0px dotted #999;
}





.hide {
  display: none;
}



#updater {
  position: fixed;
  left: 50%;
  bottom: 30px;
  margin-left: -480px;
  padding: 25px 0;
  border: 1px dotted #999;
  background-color: #fff;
  z-index: 999;
  font-size: 150%;
  text-align: center;
  line-height: 1.2em;
  background-color: #E7F6FF;
  color: #444;
}
#updater h3 {
  font-size: 300%;
}
#updater h3, 
#updater p {
  margin: 0;
  padding: 0;
}
#seconds_until_refresh {
  color: #333;
  font-weight: bold;
}

.cardinality {
  display: block;
  color: #efefef; 
  font-size: 300%;
  padding: 0.3em 0 0 0;
  font-weight: bold;
}

#connected_items td {
  border-top: 1px solid #efefef;
  padding: 1.0em 0;
}
#connected_items .published_at {
  color: #ccc;
}
#connected_items p.byline {}

.tweet {
  border-top: 1px solid #efefef;
  padding: 1.0em 0;
}
.tweet img {
  margin: 0;
  padding: 0;
  border: 1px solid #efefef;
  height: 48px;
  width: 48px;
  display: block;
  overflow: hidden;
}
.tweet .tweet_user {
  font-weight: bold;
}
.tweet .tweet_date {
  color: #ccc;
}


.details {
  padding-top: 0.5em !important;
}