body {
  font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  line-height: 1.4em;
  background-color: #fff;
  color: #444;
}
h1, h2, h3, h4, h5, h6 {
  font-family: georgia, serif;
  font-weight: normal;
  line-height: 1.05em;
  margin-bottom: 0.1em;
  padding-bottom: 0px;
}
a {
  color: #900;
  color: #DD1343;
  color: #C01818;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

h1#logo {
  margin: 1.6em 0 1.3em 0;
  padding: 0;
  line-height: 1.0em;
}
h1#logo a {
  color: #444;
  text-decoration: none;
}

.item {
  padding: 0.8em 0;
  margin-bottom: 0.8em;
}

.alpha .item {}
.omega .item {}

p.excerpt {
  margin: 0;
  padding: 0;
}
strong.byline {
  color: #222;
}

.byline a {
  color: #222;
  text-decoration: none;
}

ul.alternate_sources {
  margin: 0.5em 0 0 0;
  padding: 0;
  list-style-type: none;
}
ul.alternate_sources li {
  margin: 0;
  padding: 0;
}
ul.alternate_sources li a {
  color: #55A5FE;
  color: #2549B2;
  text-decoration: none;
}
ul.alternate_sources li strong,
ul.alternate_sources li strong a {
  font-weight: normal;
  color: #444;
}

.faded {
  color: #ccc;
}