body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 80%;
  line-height: 1.4em;
  background-color: #fff;
  color: #444;
}
h1, h2, h3, h4, h5, h6 {
  font-family: georgia, serif;
  font-weight: normal;
  line-height: 1.05em;
  margin-bottom: 0.2em;
  padding-bottom: 0px;
}
a {
  color: #900;
  color: #DD1343;
  color: #C01818;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

h1#logo {
  margin: 1.6em 0 1.3em 0;
  padding: 0;
  line-height: 1.0em;
}
h1#logo a {
  color: #444;
  text-decoration: none;
}

.item {
  padding: 0.8em 0;
  margin-bottom: 0.8em;
}

.grid_16 {
  margin-bottom: 0.7em;
}
.grid_16 h4 {
  color: #555;
}

.grid_8 .headline a {}
.grid_4 a {
  font-family: Helvetica, Arial, sans-serif;
}

.alpha .item {}
.omega .item {}

strong.byline,
.byline a {
  color: #333;
  text-decoration: none;
}
strong.byline {
}

.alternate_sources {
}
.alternate_sources a {
  color: #2549B2;
  color: #55A5FE;
  text-decoration: none;
}
.alternate_sources strong,
.alternate_sources strong a {
  color: #333;
}
.alternate_sources strong {
}

.faded {
  color: #ccc;
}