body {
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  background-color: #F6F5FF;
  color: #112;
}

h1 {
  text-align: center;
  font-size: 3.0em;
  line-height: 1.0em;
}

#container {
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 200px;
  margin-left: -225px;
  width: 450px;
  border: 1px solid #ccc;
  overflow: hidden;
}

#slider {
  position: relative;
  top: 0;
  left: 0;
  height: 300px;
  width: 9999999px;
  overflow: hidden;
}

.item {
  width: 450px;
  height: 300px;
  overflow: hidden;
  float: left;
}
.item .sleeve {
  padding: 20px;
}
.item .active { }

.title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  color: #445;
  display: block;
  padding-bottom: 0.4em;
}

.published_at, .feed {
  font-size: 0.8em;
  line-height: 1.3em;
}

.description { 
  margin-top: 0.4em;
}

#instructions {
  text-align: center;
}
#instructions span {
  margin: 0 20px;
}