body {
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  background-color: #efefef;
  color: #999;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 3.0em;
  line-height: 1.0em;
  color: #222;
}

#container {
  background-color: transparent;
  position: absolute;
  top: 150px;
  width: 100%;
  overflow: hidden;
}

#slider {
  position: relative;
  top: 0;
  left: 0;
  margin-left: 50%;
  height: 400px;
  width: 9999999px;
  overflow: hidden;
}

.item {
  width: 500px;
  margin: 0 250px 0 -250px;
  height: 400px;
  overflow: hidden;
  float: left;
}
.item .sleeve {
  padding: 30px;
  height: 400px;
}
.title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  color: #999;
  display: block;
  padding-bottom: 0.4em;
}
.item a {
  color: #330000;
}


.item .active {
  background-color: #fff;
  color: #222;
}
.item .active .title {
  color: #222;
}
.item .active a {
  color: #990000;
}

.published_at, .feed {
  font-size: 0.8em;
  line-height: 1.3em;
}

.description { 
  margin-top: 0.4em;
}

#instructions {
  text-align: center;
  color: #222;
}
#instructions span {
  margin: 0 20px;
}