<h2><%= current_user.login %></h2>

<div class="grid_8 alpha">
  <h3>Things to do</h3>
  <ul>
    <li><%= link_to "Edit account information", edit_account_path %></li>
  </ul>
</div>

<div class="grid_8 omega">
  <%= render :partial => "account_information", :locals => { :user => @user } %>
</div>