<h2>Your Page</h2>
<ul>
  <li><%= link_to "Upload an OPML file", :controller => :opml, :action => :upload %></li>
  <li><%= link_to "View your subscribed feeds", :controller => :opml, :action => :show %></li>
</ul>