<% if ! @run.nil? %>

<% cache(:action => "index", :run => @run.id, :flight => @flight.id, :user => current_user) do %>
<%= render :partial => "site/partials/flights/#{@flight.partial_name}" %>
<% end # cache %>

<% else %>
<p>refinr is offline and will return shortly.</p>
<% end %>

