<div class="grid_<%= SiteController::COLUMN_ZOOM_FACTOR %><% if defined?(extra_classes) %> <%= extra_classes %><% end %>">
  <h3 class="title"><%= link_to_item_with_tracking widow_prevention(item.title), item %></h3>
  <p class="excerpt"><strong class="byline"><%= render :partial => "byline", :locals => { :item => item } %></strong></p>
</div>
