<span id="sparkline_<%= meme.id %>" class="sparkline"> </span>
<script type="text/javascript">
$('#sparkline_<%= meme.id %>').sparkline([<%= meme.strength_over_time.reverse.join(", ") %>], { type:'bar', width:'120px', height: "1.5em", spotColor:'#2579d2', minSpotColor:'#D24A31', maxSpotColor:'#fc0', lineColor:'#2579d2',fillColor:'#dfdfff' });
</script>