<div id="about">
  <div class="grid_8">
    <p>This is <a href="/" style="color: #20232A; text-decoration: none; font-weight: bold;">refinr</a>, a new way to keep on top of technology news. Every half-hour we read hundreds of news sources from across the web and refine all that content down to just the most important bits.  We help you find all the news you need to stay up-to-the-minute in the world of technology.</p>
    <p>We'd love to hear from you.  Tell us how you're using the site, or how we could improve things. <a href="http://refinr.uservoice.com/pages/general" onclick="UserVoice.Popin.show(); return false;">Let us know how we can help you get the most out of <strong>refinr</strong></a>.</p>
  </div>
  <div class="grid_4">
    <p><strong>Now on Google!</strong>  Add refinr to your Google homepage to keep up with the latest technology news every time you open your browser. <br /><a href="http://fusion.google.com/add?source=atgs&moduleurl=http%3A//refinr.com/gadgets/google/refinr-gadget.xml" style="background-color: transparent;"><img src="http://buttons.googlesyndication.com/fusion/add.gif" border="0" alt="Add to Google"></a></p>
  </div>
</div>  

<div class="clear"></div>
<p id="footer" class="grid_12">&copy; 2009 <a href="http://www.thirdculturedesign.com/">Third Culture Design, Inc.</a></p>
