<div id="user">
  <% if current_user -%>
  <p>Logged in as <%= link_to (current_user.nickname), user_path(current_user.token) %> (<%= link_to "logout", logout_path %>)</p>
  <% else -%>
  <p><%= link_to "Sign up", new_user_path %> or <%= link_to "login", login_path %></p>
  <% end -%>
</div>
